{% extends 'base.html.twig' %}

{% block title %}Liste des fiches d'appel
{% endblock %}

{% block body %}
	<div class="mt-4 container">
		<h1>Liste des fiches d'appel</h1>
		<h2>TODO relier les activités et les adhérents</h2>


		<table class="table">
			<thead>
				<tr>
					<th>N°</th>
					<th>Responsable</th>
					<th>Activité</th>
					<th>Date</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for timecard in timecards|reverse %}
					<tr>
						<td>{{ timecard.id }}</td>
						<td>{{ timecard.responsable }}</td>
						<td>
							{% for sport in timecard.sports %}
								{{ sport.title }}
							{% endfor %}
						</td>


						<td>{{ timecard.CreatedAt ? timecard.CreatedAt|date('d-m-Y') : '' }}</td>
						<td>
							{# <a href="{{ path('app_timecard_show', {'id': timecard.id}) }}">Voir</a> #}
							<a href="{{ path('app_timecard_edit', {'id': timecard.id}) }}">Modifier</a>
							<a href="{{ path('app_timecard_showdo', {'id': timecard.id}) }}">Faire l'appel</a>
							<a href="{{ path('app_timecard_printdo', {'id': timecard.id}) }}">Imprimer</a>

						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="4">Pas de fiche</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_timecard_new') }}">Créer une nouvelle fiche</a>
	</div>

{% endblock %}
