{% extends 'base.html.twig' %}

{% block title %}Fiche d'appel
{% endblock %}

{% block body %}
	<div class="mt-4 container">
		<h1>Fiche d'appel:
			{% for sport in timecard.sports %}
				{{ sport.title}}
			{% endfor %}
			-
			{{ timecard.responsable }}

		</h1>
		<p>Date:
			{{ timecard.CreatedAt ? timecard.CreatedAt|date('d-m-Y') : '' }}</p>

		<table class="table">
			<thead>
				<tr>
					<th>N° de carte</th>
					<th>Nom</th>
					<th>Présent</th>
					<th>Photo</th>
					<th>Action</th>


				</tr>
			</thead>
			<tbody>
				{% for sport in timecard.sports %}
					{% for user in sport.users %}

						<tr>
							<td>{{ user.cardnr }}</td>

							<td>{{ user.name }}</td>


							<td>
								{% for presence in user.presences %}
									{# {{ presence.IsPresent ? 'Présent' : 'Absent' }} #}


									{% set deactiver = 'background-color: #CB3D3F' %}
									{% set activer = 'background-color: #2F7A4D' %}

									<a class="btn text-light me-3 ms-3" style="{{ presence.isIsPresent ? activer : deactiver }}" href="{{ path('app_salle_valide', {'id': presence.id, 'page': app.request.get('page') ? app.request.get('page') : 1}) }}">
										{{ presence.isIsPresent ? 'Présent' : 'Absent' }}</a>
								{% endfor %}
							</td>

							<td>
								{% if user.picture is defined %}
									<img src="{{ asset('uploads/') }}{{ user.picture }}" alt="{{ user.name }}" style="max-width: 5rem; height: auto; border-radius: 50%;">
								{% else %}
									<p>Pas de photo</p>
								{% endif %}
							</td>
							<td>
								{# <a href="{{ path('app_timecard_show', {'id': timecard.id}) }}">Voir</a> #}
								<a href="{{ path('app_user_editsport', {'id': user.id}) }}">Modifier</a>

							</td>

						</tr>
					{% endfor %}
				{% else %}
					<tr>
						<td colspan="15">Pas d'utilistateur</td>
					</tr>

				{% endfor %}

			</tbody>

		</table>
		<a href="{{ path('app_timecard_index') }}">Retour à la liste</a>

		<a href="{{ path('app_timecard_edit', {'id': timecard.id}) }}">Modifier</a>

		{{ include('pages/timecard/_delete_form.html.twig') }}</div>

{% endblock %}
