{% extends 'base.html.twig' %}

{% block title %}Liste des commandes
{% endblock %}

{% block body %}
	<h1>Liste des commandes</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Commande</th>
				<th>Client</th>

				<th>Réf de l'article</th>
				<th>Dénomination</th>
				<th>Observation</th>

				<th>Date de création</th>
				<th>Statut</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for order in orders|reverse %}
				<tr>
					<td>{{ order.id }}</td>
					<td>{{ order.customer }}</td>

					<td>{{ order.articleNr }}</td>
					<td>{{ order.title }}</td>
					<td>{{ order.comment }}</td>

					<td>{{ order.createdAt ? order.createdAt|date('d-m-Y') : '' }}</td>
					<td>{{ order.IsSended ? 'Réglé' : 'A préparer' }}</td>

					<td>
						<a href="{{ path('app_order_show', {'id': order.id}) }}" class=' mt-4'>

							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewbox="0 0 16 16">
								<path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
								<path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
							</svg>
						</a>

						<a href="{{ path('app_order_edit', {'id': order.id}) }}" class='mt-4 ms-4'>Changer le statut</a>

					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">Pas de commande</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_order_new') }}">Créer une commande</a>
{% endblock %}
