{% extends 'base.html.twig' %}

{% block title %}Première inscription
{% endblock %}

{% block body %}
	<h1>Première inscription</h1>
	<p>Vous n'avez jamais été membre de notre association et vous souhaitez nous rejoindre, saisissez alors ce formulaire d'inscription. Sinon connectez-vous à votre
		<a href=" {{ path('app_login')}} ">espace.</a>
	</p>

</p>

{{ form_start(registrationForm) }}
{{ form_row(registrationForm.name) }}
{{ form_row(registrationForm.firstname) }}
{{ form_row(registrationForm.sports) }}

{{ form_row(registrationForm.address) }}
{{ form_row(registrationForm.zipcode) }}
{{ form_row(registrationForm.city) }}
{{ form_row(registrationForm.phone) }}
{{ form_row(registrationForm.job) }}
{{ form_row(registrationForm.birthdate) }}
{{ form_row(registrationForm.categories) }}

{{ form_row(registrationForm.isMedical) }}


{{ form_row(registrationForm.certificatyear) }}
{{ form_row(registrationForm.email) }}
{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
{{ form_row(registrationForm.agreeTerms) }}
{{ form_row(registrationForm.isChild) }}


<button type="submit" class="btn btn-primary btn-lg mt-4">Enregistrer</button>

<div class="">

	<h1>Doit encore choisir des activités sportives!</h1>
</div>


{{ form_end(registrationForm) }}{% endblock %}
