{% extends 'base.html.twig' %}

{% block title %}Liste des articles
{% endblock %}

{% block body %}
	<div class="mt-4 container">
		<h1>Liste des articles - Modération</h1>

		<table class="table">
			<thead>
				<tr>
					<th>N°</th>
					<th>Titre</th>
					<th>Message</th>
					<th>Auteur</th>
					<th>Date</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for post in posts|reverse %}
					<tr>
						<td>{{ post.id }}</td>
						<td>{{ post.title }}</td>
						<td>{{ post.content }}</td>
						<td>{{ post.author }}</td>
						<td>{{ post.createdAt ? post.createdAt|date('d-m-Y ') : '' }}</td>
						<td>
							{# <a href="{{ path('app_post_show', {'id': post.id}) }}">show</a> #}
							<a href="{{ path('app_post_edit', {'id': post.id}) }}">Supprimer</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">Pas d'article</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{# <a href="{{ path('app_post_new') }}">Create new</a> #}
	</div>

{% endblock %}
