{% extends 'base.html.twig' %}

{% block title %}Article
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<a class="btn btn-primary" href="{{ path('home.index')}}">Retour</a>

				<img src="https://via.placeholder.com/150" class="card-img-top" alt="...">

				<h1>{{post.title}}</h1>
				<p class="card-text">{{post.content}}</p>
				<p>{{post.author}}
					-
					{{post.createdAt |date("d/m/Y")}}</p>
			</div>
		</div>
	</div>
</div>{% endblock %}
