{% extends 'base.html.twig' %}

{% block title %}Utilisateur
{% endblock %}

{% block body %}

	<div class="container mt-4">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-3">
				<article class="card border-primary mb-3 " style="max-width: 30rem; ">
					<div class="card-header bg-primary">
						<div>
							<h1>N°:
								{{ user.cardnr}}
							</h1>
							<div>
								<h5>Adhésion Saison
									{{ "now"|date("Y") }}
									/
									{{ "now"|date("Y") +1  }}</h5>
							</div>

							<div>Association Sport Détente Et Culture</div>

						</div>


						<div>
							{% if user.picture is defined %}
								<img src="{{ asset('uploads/') }}{{ user.picture }}" alt="{{ user.name }}" style="max-width: 7rem; height: auto; border-radius: 50%;">
							{% else %}
								<p>Votre carte n'est pas valide!</p>
							{% endif %}
							<img src="{{ asset('assets/images/logo.ico')}}" alt="logo asdec" style="max-width: 3rem;" class="ms-5">
						</div>
					</div>
					<div class="card-body bg-light">
						<h3 class="card-title">{{ user.name}}
							{{ user.firstname }}
						</h3>

						<p class="card-text">
							Activités choisies:
							{% for sport in user.sports %}
								{{ sport.title }}
								/
							{% endfor %}
						</p>
						<p>Cotisation annuelle:
							{{ user.IsValid ? 'Payé' : 'Reste à payer! merci de vous mettre en règle.' }}</p>
						<p>Fait le :
							{{ "now"|date("d-m-Y") }}
						</p>
						<p>Adresse:
							{{ user.address }}</p>
						<p>{{ user.zipcode}}
							{{ user.city }}</p>
						<p>Age:{{ user.getAge() }}
							ans</p>
						<p>Siège social: 18 rue des Pensées 02200 Crouy</p>
						<p>Le Président Pascal PETIT
							<img src="{{ asset('assets/images/signature.png')}}" alt="signature président" style="max-width: 5rem;" class="ms-5"></p>


					</div>
				</article>
			</div>
		</div>
	</div>
</div>
<div class="mt-4 container">
	<form>
		<input id="impression" name="impression" type="button" onclick="imprimer_page()" value="Imprimer cette page"/>
	</form>
</div>
{% block javascripts %}
	<script type="text/javascript">
		function imprimer_page() {
window.print();
}
	</script>
{% endblock %}{% endblock %}
