{% extends 'base.html.twig' %}

{% block title %}Liste des fiches d'appel
{% endblock %}

{% block body %}
	<div class="mt-4 container">
		<h1>Liste des fiches d'appel</h1>
		<h2>TODO relier les activités et les adhérents...</h2>


		<table class="table">
			<thead>
				<tr>
					<th>N°</th>
					<th>Responsable</th>
					<th>Activité</th>
					<th>Date</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for timecard1 in timecard1s|reverse %}
					<tr>
						<td>{{ timecard1.id }}</td>
						<td>{{ timecard1.responsable }}</td>
						<td>

							{{ timecard1.sports.title }}

						</td>


						<td>{{ timecard1.CreatedAt ? timecard1.CreatedAt|date('d-m-Y') : '' }}</td>


						<td>
							{# <a href="{{ path('app_timecard_show', {'id': timecard.id}) }}">Voir</a> #}
							<a href="{{ path('app_timecard1_edit', {'id': timecard1.id}) }}" class='mt-4 ms-4'>

								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewbox="0 0 16 16">
									<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
								</svg>
							</a>

							<a href="{{ path('app_timecard_showdo', {'id': timecard1.id}) }}" class='mt-4 ms-4'>Faire l'appel</a>

							<a href="{{ path('app_timecard_printdo', {'id': timecard1.id}) }}" class='mt-4 ms-4'>Imprimer</a>


						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="4">Pas de fiche</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_timecard1_new') }}">Créer une nouvelle fiche</a>
	</div>

{% endblock %}
