{% extends 'base.html.twig' %}

{% block title %}Article Publicitaire
{% endblock %}

{% block body %}
	<div class="mt-4 container">
		<h1>Article Publicitaire</h1>

		<table class="table">
			<tbody>

				<tr>
					<th>Dénomination</th>
					<td>{{ goody.Title }}</td>
				</tr>
				<tr>
					<th>Prix</th>
					<td>{{ goody.Price }}</td>
				</tr>
				<tr>
					<th>Couleur</th>
					<td>{{ goody.Color }}</td>
				</tr>
				<tr>
					<th>Taille</th>
					<td>{{ goody.Size }}</td>
				</tr>
			</tbody>
		</table>
		<div class="mt-4 container">
			{% if goody.Picture is defined %}
				<img src="{{ asset('uploads/') }}{{ goody.Picture }}" alt="{{ goody.Title }} ">


			{% else %}
				<p>Pas de Photo</p>
			{% endif %}
		</div>


		<div class="mt-4 container">
			<a href="{{ path('app_goodies_index') }}">Retour à la liste</a>

			<a href="{{ path('app_goodies_edit', {'id': goody.id}) }}">Modifier</a>
		</div>


		{{ include('pages/goodies/_delete_form.html.twig') }}</div>

{% endblock %}
