{% extends 'base.html.twig' %}

{% block title %}Child index
{% endblock %}

{% block body %}
	<h1>Liste des membres enfants</h1>


	<table class="table">
		<thead>
			<tr>
				<th>N° de carte</th>
				<th>Prénom du responsable</th>
				<th>Nom du responsable</th>

				<th>Prénom de l'enfant</th>
				<th>Nom de l'enfant</th>
				<th>Activité(s)</th>

				{# <th>Email</th> #}
				{# <th>Roles</th> #}
				{# <th>Adresse</th>
																																																								<th>Code</th>
																																																								<th>Ville</th> #}
					<th>
				Téléphone
				</th>
				{# <th>
																																																Date de naissance
																																																</th><th>
																																																Statut
																																																</th><th>
																																																Date d'entrée
																																																</th><th>
																																																Certificat Médical
																																																</th><th>
																																																Date
																																																</th> #}
					<th>
				Actions
			</th>
		</tr>
		</thead>
			<tbody>
				{% for child in children %}
					<tr>
						<td>
					{{ child.cardnr }}
					</td>
						<td>
					{{ child.parentfirstname }}
					</td>
						<td>
					{{ child.parentname }}
					</td>
						<td>
					{{ child.firstname }}
					</td>
						<td>
					{{ child.name }}
					</td>
						<td>
							{% for sport in child.sports %}
							{{ sport.title }}
						/
					{% endfor %}

					</td>
					{# <td>{{ child.email }}</td> #}

					{# <td>{{ child.address }}</td>
																																																																						<td>{{ child.zipcode }}</td>
																																																																						<td>{{ child.city }}</td> #}
						<td>
					{{ child.phone }}
						{# </td><td>{{ child.birthdate ? child.birthdate|date('d-m-Y') : '' }} #}
					</td>
					<td>{{ child.isValid ? 'a réglé' : 'Pas encore payé' }}
						{# </td><td>{{ child.createdAt ? child.createdAt|date('d-m-Y') : '' }}
																																																																													</td><td>{{ child.isMedical ? 'Oui' : 'Non' }}
																																																																													</td><td>{{ child.certificatyear }} #}
					</td>
					<td>
						<a href="{{ path('app_child_show', {'id': child.id}) }}" class=' mt-4'>

							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewbox="0 0 16 16">
								<path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
								<path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
							</svg>
						</a>

						<a href="{{ path('app_child_edit', {'id': child.id}) }}" class='mt-4 ms-4'>

							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewbox="0 0 16 16">
								<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
							</svg>
						</a>

					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="14">Pas d'utilisateur</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="navigation d-flex justify-content-center mt-4">
		{{ knp_pagination_render(children) }}
	</div>

	<a href="{{ path('app_child_new') }}">Créer un profil enfant</a>
{% endblock %}
