{% extends 'base.html.twig' %}

{% block title %}Child index
{% endblock %}

{% block body %}
	<h1>Liste des membres enfants</h1>
	<h1>Manque les activités validées</h1>

	<table class="table">
		<thead>
			<tr>
				<th>N° de carte</th>
				<th>Prénom</th>
				<th>Nom</th>
				<th>Email</th>
				{# <th>Roles</th> #}
				<th>Adresse</th>
				<th>Code</th>
				<th>Ville</th>
				<th>Téléphone</th>
				<th>Date de naissance</th>
				<th>Statut</th>
				<th>Date d'entrée</th>
				<th>Certificat Médical</th>
				<th>Date</th>

				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for child in children %}
				<tr>
					<td>{{ child.id }}</td>

					<td>{{ child.firstname }}</td>

					<td>{{ child.name }}</td>
					<td>{{ child.email }}</td>

					<td>{{ child.address }}</td>
					<td>{{ child.zipcode }}</td>
					<td>{{ child.city }}</td>
					<td>{{ child.phone }}</td>
					<td>{{ child.birthdate ? child.birthdate|date('d-m-Y') : '' }}</td>
					<td>{{ child.isValid ? 'a réglé' : 'Pas encore payé' }}</td>
					<td>{{ child.createdAt ? child.createdAt|date('d-m-Y') : '' }}</td>
					<td>{{ child.isMedical ? 'Oui' : 'Non' }}</td>
					<td>{{ child.certificatyear }}</td>
					<td>
						<a href="{{ path('app_child_show', {'id': child.id}) }}">voir</a>
						<a href="{{ path('app_child_edit', {'id': child.id}) }}">modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="14">Pas d'utilisateur</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="navigation d-flex justify-content-center mt-4">
		{{ knp_pagination_render(children) }}
	</div>

	<a href="{{ path('app_child_new') }}">Créer un profil enfant</a>
{% endblock %}
