<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>

		<h1>
			Saison
			{{ "now"|date("Y") }}
			/
			{{ "now"|date("Y") +1  }}


		</h1>
		<h2>
			Association Sport Détente et Culture</h2>
		<h3>
			{{ newsletter.name }}

		</h3>
		<div class="">Son message :
			{{ newsletter.content }}

		</div>

		Rédigé le :
		{{ "now"|date("d/m/Y") }}</body>
</html></p></body></html>
