{% extends 'base.html.twig' %}

{% block title %}Utilisateur
{% endblock %}

{% block body %}
	<div class="mt-4 container">
		<h1>Mon Compte</h1>
		<h1>Manque les activités validées</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>N° de carte</th>
					<td>{{ user.id }}</td>
				</tr>
				<tr>
					<th>Photo</th>
					<td>
						{% if user.picture is defined %}
							<img src="{{ asset('uploads/') }}{{ user.picture }}" alt="{{ user.name }}" style="max-width: 10rem; height: auto; border-radius: 50%;">


						{% else %}
							<p>Pas de photo</p>
						{% endif %}
					</td>
				</tr>
			</tbody>
		</td>
	</tr>

	<tr>
		<th>Activités</th>
		<td>
			{% for sport in user.sports %}
				{{ sport.title }}
				/
			{% endfor %}
		</td>

	</tr>


	<tr>
		<th>Email</th>
		<td>{{ user.email }}</td>
	</tr>

	<tr>
		<th>Nom</th>
		<td>{{ user.name }}</td>
	</tr>
	<tr>
		<th>Prénom</th>
		<td>{{ user.firstname }}</td>
	</tr>
	<tr>
		<th>Adresse</th>
		<td>{{ user.address }}</td>
	</tr>
	<tr>
		<th>Code Postale</th>
		<td>{{ user.zipcode }}</td>
	</tr>
	<tr>
		<th>Ville</th>
		<td>{{ user.city }}</td>
	</tr>
	<tr>
		<th>Téléphone</th>
		<td>{{ user.phone }}</td>
	</tr>
	<tr>
		<th>Date de naissance</th>
		<td>{{ user.Birthdate ? user.Birthdate|date('d-m-Y') : '' }}</td>
	</tr>
	<tr>
		<th>Statut du réglement</th>
		<td>{{ user.IsValid ? 'Payé' : 'Reste à payer' }}</td>
	</tr>
	<tr>
		<th>Date d'entrée</th>
		<td>{{ user.CreatedAt ? user.CreatedAt|date('d-m-Y') : '' }}</td>
	</tr>
	<tr>
		<th>Profession</th>
		<td>{{ user.job }}</td>
	</tr>
	<tr>
		<th>Certificat Médical</th>
		<td>{{ user.isMedical ? 'Oui' : 'Non' }}</td>
	</tr>
	<tr>
		<th>Année</th>
		<td>{{ user.certificatyear }}</td>
	</tr>
	<tr>
		<th>Déjà ré-inscrit</th>
		<td>{{ user.IsRegistered ? 'Oui' : 'Non' }}</td>

	</tr>

</tbody></table><div class="mt-4 container">
<a href="{{ path('home.index') }}">Retour à l'accueil</a>
<a href="{{ path('app_reregistration_edit', {'id': user.id}) }}">Modifer</a>
{{ include('pages/user/_delete_form.html.twig') }}</div></div>{% endblock %}
